/* 
    body content
*/

.featureBody {
    margin-top: 30px;
    margin-bottom: 100px;
    font-size: 15px;
    line-height: 22px;
  }



/* 
    feature rows 
*/
.featureRow{
    width: 100%;
    margin-left: 20px;
    margin-top: 80px;
  }

.featureRow .col-md- img {
    border: 2px solid #021a40;
}

/* feature text align bottom */
.feature-wrap{
    display: flex;
}

.feature-wrap span{
    align-self: flex-end;
}

.feature-title {
    font-size: 20px;
    font-weight: 600;
}


/* 
    media quiery 
*/


@media screen and (max-width: 375px) {

    .feature-wrap {
        padding-left: 0;
    }

    .feature-wrap span{
        align-self: flex-end;
        margin-top: 10px
    }

    .feature-title {
        font-size: 15px;
        font-weight: 600;
    }

  }


  @media screen and (max-width: 414px) {
    .feature-wrap {
        padding-left: 0px;
    }

    .feature-wrap span{
        align-self: flex-end;
        margin-top: 20px
    }

    .feature-title {
        font-size: 18px;
        font-weight: 600;
    }

  }



  @media screen and (max-width: 768px) {
    .feature-wrap {
        padding-left: 0px;
    }

    .feature-wrap span{
        align-self: flex-end;
        margin-top: 20px
    }

    .feature-title {
        font-size: 18px;
        font-weight: 600;
    }

  }


  @media screen and (max-width: 991px) {
    .feature-wrap {
        padding-left: 0px;
    }

    .feature-wrap span{
        align-self: flex-end;
        margin-top: 20px
    }

    .feature-title {
        font-size: 18px;
        font-weight: 600;
    }

  }